# Flutter related files
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.buildlog
.dart_tool/
.packages
.pub-cache/
api.dart
.flutter-plugins
.flutter-plugins-dependencies
.macos/
.windows/
linux/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.framework
ios/Flutter/flutter_assets/
ios/Flutter/podhelper.rb
ios/Podfile
ios/Podfile.lock
ios/Pods/
ios/Runner.xcworkspace/
ios/ServiceDefinitions.json
ios/GeneratedPluginRegistrant.*

# Android specific
android/.gradle/
android/app/build/
android/local.properties
android/.idea
android/gradle/
android/build/
android/*.iml

# Miscellaneous
*.iml
*.ipr
*.iws
*.hprof
*.DS_Store
*.log
*.class
*.lock
*.pyc
*.pyo
*.swp
*.swo
*.orig
*.rej
*.bak
*.tmp
*.dSYM.zip
*.dSYM
*.app.dSYM.zip
*.app.dSYM

# Web specific
web/.dart_tool/
web/elm-stuff/
web/node_modules/
web/.jekyll-cache/
web/.sass-cache/
web/.dart_tool/
web/build/
web/.firebase/
web/build/

# Build folders
build/
